html, body {
  height: 100%;
  margin: 0px;
}

body {
  background-color: #EEE;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, p {
  color: #333;
}